ComboBox {
	-fx-font-size: 16;
	-fx-font-weight: bold;
    -fx-font-family:"Serif";
}

 .alert{
	-fx-background-color:#d8dee1 
}

/**Customization of The Bar where the buttons are located**/
.alert > .button-bar > .container {
  -fx-background-color: #d8dee1;
}

/**Customization of alert Header**/
.alert:header .header-panel {
  -fx-background-color:#d8dee1; /**linear-gradient(to top, #ADD8E6,yellow);*/
  -fx-font-family: "Serif";
  -fx-font-size: 16;
  -fx-font-weight:bold;
  -fx-effect: dropshadow( three-pass-box, black, 10.0, 0.0, 0.0, 0.0);
  }
  
/**Customization of Buttons**/
.alert .button{
   -fx-background-color:black;
   -fx-text-fill: white;
   -fx-wrap-text: true;
   -fx-font-size: 18;
   -fx-font-family: "Serif";
   -fx-effect: dropshadow( three-pass-box, blue, 10.0, 0.0, 0.0, 0.0);
   -fx-cursor:hand;
 }
